*.zip
**/*captcha*/
__pycache__/
*.pyc
*error*
**/*Processed_Techniques*/
**/*Preprocessed*/

*.ipynb
*captcha*
!nsut_captcha/
!nsut_captcha/**
!captcha_predictor/
!captcha_predictor/**
captcha_predictor/**/__pycache__/
captcha_predictor/**/*.pyc
*preprocess*
captcha_download.ipynb
captcha_read.py
captcha_reading.ipynb
preprocess.py
preprocess_2.py
model_train.py
# *.png
# *.jpeg
# *.jpg 
*bg*
*try*
*test*
!tests/
!tests/**
tests/**/__pycache__/
tests/**/*.pyc
!docs/
!docs/**
!final_captcha_model.h5
*.h5
env/**